body{
	
}

content{
	width: 400px;
	margin: 20px auto;
}

#wrapper {
	margin: 0 auto 50px;
    width: 400px;
}

h1 {
	text-align: center;
}

#gameBoard{
	width: 400px;
	height: 600px;
	position: relative;
}

#gameCanvas{
	background-color: #eaeaea;
	-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
-webkit-box-shadow: 0 0 5px 2px #A3A3A3;
box-shadow: 0 0 5px 2px #A3A3A3;
}

/*Menu*/
#mainMenuWrapper{
	position: absolute;
	top: 0px;
	left: 0px;
}

#mainMenu ul{
	list-style: none;
	width: 100px;
}

/*Menu Entrys*/
#mainMenu ul li{
	border: 1px dotted black;
	cursor: pointer;
	width: 100%;
}