body{
	background-color: #fff;
}

content{
	width: 400px;
	margin: 20px auto;
}

#wrapper {
	margin: 0 auto 50px;
    width: 400px;
    position: relative;
}

h1 {
	text-align: center;
}

#gameBoard{
	width: 400px;
	margin: 0 0 10px;
	height: 690px;
	position: relative;
}

/* ============= Menu ============ */

#button_area {
	margin: 0 0 10px 0;
	
}

.button_bottom {
	
}


#mainMenuWrapper{
	background: rgb(193,133,83); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMyUiIHN0b3AtY29sb3I9IiNjMTg1NTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjI1YjEwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(193,133,83,1) 23%, rgba(178,91,16,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(193,133,83,1)), color-stop(100%,rgba(178,91,16,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(193,133,83,1) 23%,rgba(178,91,16,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(193,133,83,1) 23%,rgba(178,91,16,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(193,133,83,1) 23%,rgba(178,91,16,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(193,133,83,1) 23%,rgba(178,91,16,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c18553', endColorstr='#b25b10',GradientType=0 ); /* IE6-8 */

	width: 400px;
	height: 690px;
	position: absolute;	
	border: 1px solid #eaeaea;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	
}

#mainMenu ul{
	list-style: none;
	width: 100px;
}

/*Menu Entrys*/
#mainMenu ul li{
	border: 1px dotted black;
	cursor: pointer;
	width: 100%;
}

/* ============= instruction main page ============ */

.instruction_main_page {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
background-color: #fff;
border: 1px solid #ccc;
margin: 0 0 10px;
    padding: 10px;
    text-align: justify;
}
.instruction_main_page h4 {
	text-align: center;
}

/* ============= additional button / section help ============ */

#additional_button {
	position: absolute;
    right: 7px;
    top: 3px;
    display: none;
}
#additional_button ul {
	margin: 0;
    padding: 5px;
}
#additional_button li {
	cursor: pointer;
	display: inline;
    list-style-image: none;
    list-style-type: none;
    margin: 0 5px;
    font-size: 25px;
}

.game_guide {
	position: absolute;
	right: -310px;
	top: 50px;
	width: 300px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
background-color: #fff;
border: 1px solid #ccc;
margin: 0 0 10px;
    padding: 10px;
    text-align: justify;
    display: none;
    
}


/* ================= mulit row ================ */

#multi_row{
	height: 85px;
    margin: 0 auto;
    width: 360px;	
}
#multi_row_codepeg {
	float: left;
    height: 40px;
    margin: 0 0 10px;
    width: 255px;
    border-radius: 5px 5px 5px 5px;
}
#multi_row_keypeg {
	float: right;
    height: 25px;
    margin: 10px 0 0;
    text-align: center;
    width: 90px;
}
.codepeg_mastercode{
    display: none;
}
.multi_keypeg_position_default{
	float: left;
    height: 15px;
    margin: 0 15px;
    width: 15px;
}
.set_code{
	margin: 0 0 5px;
}
#multi_button {
	float: right;
}
.multi_keypeg_black {
	background-color: #000;
}
.multi_keypeg_white {
	background-color: #fff;
}

/* ============= default codepegs ============ */
#default_codepegs {
	border-bottom: 1px solid #eaeaea;
    height: 50px;
    margin: 10px auto;
    padding: 0;
    width: 360px;
}


#position_yellow , #position_green , #position_red , #position_blue , #position_indigo , #position_orange {
	/*background-color: #f7f1f1;*/
    float: left;
    height: 40px;
    margin: 0 10px;
    width: 40px;
    }
    
.codepeg_circle {
	border: 1px solid #ccc;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.codepeg_yellow {
	background-color: yellow;
   
}

.codepeg_indigo {
	background-color: indigo;
    
}

.codepeg_red {
	background-color: red;
    
}

.codepeg_blue {
	background-color: blue;
    
}

.codepeg_green {
	background-color: green;
    
}

.codepeg_orange {
	background-color: orange;
    
}

/* ============= playing rows ============ */
#playing_rows {
    height: 520px;
    margin: 10px auto;
    padding: 0;
    width: 360px;
}

#codepeg_rows {
	border-right: 1px solid #ccc;
    float: left;
    height: 520px;
    width: 270px;
    
}



#codepeg_rows_1_pos_1 {
	
}

.codepeg_circle_default {
	border: 1px solid #ccc;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.codepeg_rows_position_default {
	height: 40px;
    margin: 10px 0;
    width: 240px;
}

.codepeg_position_default {
	float: left;
    margin: 0 10px;
    width: 40px;
}

/* ============= keypegs ============ */

#keypeg_rows {
	
	float: left;
    height: 520px;
    margin: 0 10px;
    width: 70px;
}

.keypeg_position_first_row {
	margin-bottom: 10px !important;
	
}

.keypeg_rows_position_default {
	height: 40px;
    margin: 10px 0 0;
    width: 75px;
}

.keypeg_position_default {
	float: left;
    height: 15px;
    margin: 0 0 0 15px;
    width: 15px;
}

.keypeg_circle_default {
	border: 1px solid #ccc;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

/* ============ Modal ============== */
.modal-mi{
    width: 400px;
}

/* highscore */
.highscoreRowInner{
	float: left;
	width: 150px;
	height: 30px;
}

#highscoreName{
	width: 120px;
}