body{
	
}

content{
	width: 400px;
	margin: 20px auto;
}

#wrapper {
	margin: 0 auto 50px;
    width: 400px;
}

h1 {
	text-align: center;
}

#gameBoard{
	width: 400px;
	height: 600px;
	position: relative;
}

/* ============= Menu ============ */

#button_area {
	margin: 0 0 10px 0;
	
}


#mainMenuWrapper{
	width: 400px;
	height: 600px;
	position: absolute;
	
	border: 1px solid #eaeaea;
	background-color: #fff;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
}

#mainMenu ul{
	list-style: none;
	width: 100px;
}

/*Menu Entrys*/
#mainMenu ul li{
	border: 1px dotted black;
	cursor: pointer;
	width: 100%;
}

/* ============= default codepegs ============ */
#default_codepegs {
	border-bottom: 1px solid #eaeaea;
    height: 50px;
    margin: 10px auto;
    padding: 0;
    width: 360px;
}


#position_yellow , #position_black , #position_red , #position_blue , #position_green , #position_aqua {
	/*background-color: #f7f1f1;*/
    float: left;
    height: 40px;
    margin: 0 10px;
    width: 40px;
    }
    
.codepeg_circle {
	border: 1px solid #eaeaea;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.codepeg_yellow {
	background-color: yellow;
   
}

.codepeg_black {
	background-color: black;
    
}

.codepeg_red {
	background-color: red;
    
}

.codepeg_blue {
	background-color: blue;
    
}

.codepeg_green {
	background-color: green;
    
}

.codepeg_aqua {
	background-color: aqua;
    
}